<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<style>
  .text-uppercase {
    text-transform: uppercase;
  }
  .text-right {
    text-align: right;
  }
  .text-danger {
    color: red;
  }
  .text-center {
    text-align: center;
  }
  .text-primary {
    color: #00f;
  }
  .text-bold {
    font-weight: 700;
  }
</style>
<body>
  <img src="cid:logo.logo1"/>
  <h1>Tu pedido esta reservado</h1>
  <small>Hola {{data.username}}</small><br>
  <p>
    ¡Gracias por tu pedido! <br>
    En estos momentos tu reserva se completo, gracias por elegir nuestra empresa. <br>
    <strong>Fecha y Hora de Registro:</strong><br>{{data.create_at}}
  </p>
  <table class="text-uppercase">
    <thead>
      <tr>
        <th colspan="2">DETALLE DE RESERVA</th>
      </tr>
      <tr>
        <td>
        <strong>Fecha de Reserva</strong:>&nbsp;{{data.date_reservation}} <br>
          <strong>Desde :</strong>&nbsp;{{data.init_fraction.init}}&nbsp; Hasta &nbsp;{{data.finish_fraction.finish}}
        </td>
        <td>
          <strong>Mesa</strong>: {{data.table_name}}
        </td>
      </tr>
    </thead>
    <tbody>

      {{#each data.detail}}
      <tr>
        <td>
          <img src="{{this._photo}}" width="30" height="30"> 
          {{this.name}} <br>Cantidad: {{this.quantity}}</td>

        <td class="text-right">{{this.unit_price}}</td>
      </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <th>Sub total</th>
        <td class="text-danger">{{data.subtotal }}</td>
      </tr>
      <tr>
        <th>Descuento</th>
        <td>{{data.disacount}}</td>
      </tr>
      <tr class="text-danger text-bold">
        <th>Total</th>
        <td>{{data.total}}</td>
      </tr>
    </tfoot>
  </table>
  <p>
    Contactenos <br>
    Celular: 964050503 <br>
    correo: <span class="text-primary">{{data.sender}}</span>
  </p> 
  <p class="text-center">Codigo QR</p>

  <img src="cid:qr.{{data.sale_id}}.png" width="80" height="80" alt=""> <br>
  <p>Lo esperamos en Chifa Chaufan.</p>
</body>
</html>