<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<style>
  .text-uppercase {
    text-transform: uppercase;
  }
  .text-right {
    text-align: right;
  }
  .text-danger {
    color: red;
  }
  .text-center {
    text-align: center;
  }
  .text-primary {
    color: #00f;
  }
  .text-bold {
    font-weight: 700;
  }
</style>
<body>
  <img src="cid:logo"/>
  <h1>Haz solicitado cambio de Contraseña</h1>
  <small>Hola {{data.username}}</small><br>
  <p>
    Haz solicitado cambio de contraseña, ingresa al siguiente link, para completar con el proceso de cambio de contraseña.
  </p>
  <p class="text-center">
    <a class="text-primary" href="http://localhost:4200/forgot-password?userId={{data.id}}">
      Para cambiar tu constraseña haz click aqui!
    </a>
  </p>
  <p>
    Contactenos <br>
    Celular: 964050503 <br>
    correo: <span class="text-primary">{{data.sender}}</span>
    Lo esperamos en Chifa Chaufan.
    </p>
</body>
</html>