<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
  <div class="row">
    <div class="col-12">
      <table class="table table-striped" id="contentToConvert">
        <tr>
          <th>Nombre Cliente</th>
          <th>tefefono</th>
          <th>mesa</th>
          <th>estado</th>
          <th>cantidad de personas</th>
          <th>fecha de reserva</th>
          <th>Hora de reserva</th>
          <th>Total</th>
        </tr>
        {% for s in data %}
        <tr>
          <td>{{s.names}}&nbsp;{{s.lastnames}}</td>
          <td>{{s.phone_number}}</td>
          <td>{{s.table_id}}</td>
          <td>{{s.status}}</td>
          <td>{{s.persons_quantity}}</td>
          <td>{{s.date_reservation}}</td>
          <td>{{s.distributions.substr(0,5)}} hasta {{s.distributions.substr(s.distributions.length-8, 5)}}</td>
          <td>{{s.total_amount}}</td>
        </tr>
        {% endfor %}
        <tr>
          <th colspan="7">TOTALES</th>
          <td>{{total_sales}}</td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>